.cell {
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border-left: solid 1px #929292;
  border-top: solid 1px #929292;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: maroon;
  font-weight: 600;
}

.cell:not(.cell_opened):not(.cell_flagged):active {
  background: #fff;
}

.cell svg {
  width: 14px;
  height: 14px;
}

.cell_opened {
  background: #fff;
}

.cell_mine.cell_opened {
  background: red;
}

.cell_number_1 {
  color: blue;
}

.cell_number_2 {
  color: green;
}

.cell_number_3 {
  color: red;
}
