.container {
  position: relative;
  padding: 10px;
  background: #f3f3f3;
  display: inline-block;
  border-radius: 5px;
}

.cells {
  position: relative;
  margin-top: 10px;
  border-right: solid 1px #929292;
  border-bottom: solid 1px #929292;
}

.row {
  display: flex;
}

.header_icon {
  width: 24px;
  height: 24px;
}

.victory {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.victory_icon {
  width: 50px;
  height: 50px;
}
